extends ../adminBase

block content
  #modelPanel.panel-content
    .widget.pad50-65
      form.form-wrp#htmlForm(name='editPattern')
        .row.mrg20.warps
          .col.m4.col.s6.col.l4
            p Code
            input#code.brd-rd5(name='code' type='text' value=`${data.code}`)
            span.error-box
          .col.m4.col.s6.col.l4
            p Module Number
            input#moduleNumber.brd-rd5(name='modulesnumber' type='number' value=`${data.moduleNumber}`)
            span.error-box
          .col.m4.col.s12.col.l4
            p Supplier Name
            input.brd-rd5.validate(name='supplierId' type='text' value=`${user.name}` disabled=true)
            input#_id(type='hidden' name='target' value=`${data._id}`)
          .col.m6.col.s12.col.l6
            p Description
            textarea.brd-rd5#description()=data.description
          .col.m6.col.s12.col.l6
            p Notes
            textarea.brd-rd5#notes()=data.notes
          .col.m6.col.s12.col.l6
            p Size Name
            input.brd-rd5.validate(name='size' type='text' value=`${data.sizeId.name}` disabled=true)
            span.error-box
          .col.m6.s12.col.l6
            .opt-btn
              p Active
              label.switch-light.switch-candy(onclick='')
                input#active(type='checkbox' checked=data.active)
                span
                  span Off
                  span On
                  a
        .col.m6.col.s12.col.l6
          img(class='preview_image' src=`/img/uploads/${data.image}`)
        .col.m12.col.s12.col.l12.save-now.mt-top-1
          button.green-bg.brd-rd5(type="submit") Submit